@model IEnumerable<CetTodoWeb.Models.TodoItem>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>



@*<form asp-action="FilterByCategory" asp-controller="Todo" method="get">
    <div class="form-group">
        <input type="submit" id="btnsubmit" value="Hobbies" class="btn btn-primary btn-sm" />
        
    </div>
   
    <div class="form-group">
        <input type="submit" value="Search" class="btn btn-primary" />
    </div>
</form>*@

